# Environment variables go here, can be read by `python-dotenv` package:
#
#   `src/script.py`
#   ----------------------------------------------------------------
#    import dotenv
#
#    project_dir = os.path.join(os.path.dirname(__file__), os.pardir)
#    dotenv_path = os.path.join(project_dir, '.env')
#    dotenv.load_dotenv(dotenv_path)
#   ----------------------------------------------------------------
#
# DO NOT ADD THIS FILE TO VERSION CONTROL!
CAT_INDIVIDUALS_DS_PATH = "!!!!WRITE PATH FOR INDIVID CATS DATASETS!!!!!"

PROJECT_DIR = ""
# for train
CAT_INDIVIDUALS_DS_PATH = ""
OUTPUT_FILEPATH = project_dir + "/data/raw/"

# telegram bot
BOT_TOKEN = ""

# Yandex storage
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
MONGO_URL = ""  # "mongodb://localhost:27017/" /"mongodb://user:userpassword@ip/table"

# Model way
MODEL_PATH = ""
LOCAL_MODEL_PATH = ""
