Sphinx
coverage
python-telegram-bot==13.11
aiogram~=2.23.1
pyTelegramBotAPI
pymongo~=4.3.3
motor
kafka-python
python-dotenv=0.21.0

python-dotenv~=0.21.0
numpy~=1.23.5
opencv-python~=4.6.0.66
imagesize~=1.4.1
setuptools~=62.2.0
mercantile~=1.2.1
boto3~=1.26.13